
.About_About {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(55,109,171,1.00);
}
.About_About .Rectangle9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 238.62px;
	height: 87.30000000000001px;
	background: rgba(61,26,120,1.00);
}
.About_About .Parkingrid {
	position: absolute;
	left: 32.010000000000005px;
	top: 8.73px;
	width: 177.51000000000002px;
	height: 43.650000000000006px;
	color: rgba(243,246,244,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.About_About .Rectangle10 {
	position: absolute;
	left: 238.62px;
	top: 0px;
	width: 1201.8300000000002px;
	height: 87.30000000000001px;
	background: rgba(243,246,244,1.00);
}
.About_About .Location {
	position: absolute;
	left: 878.82px;
	top: 8.73px;
	width: 148.41px;
	height: 43.650000000000006px;
	color: rgba(61,26,120,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.About_About .ContactUs {
	position: absolute;
	left: 1161.0900000000001px;
	top: 8.73px;
	width: 192.06px;
	height: 43.650000000000006px;
	color: rgba(61,26,120,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.About_About .Rectangle12 {
	position: absolute;
	left: 599.46px;
	top: 8.73px;
	width: 145.5px;
	height: 52.38px;
	background: rgba(255,200,4,1.00);
}
.About_About .Home {
	position: absolute;
	left: 375.39000000000004px;
	top: 8.73px;
	width: 101.85000000000001px;
	height: 43.650000000000006px;
	color: rgba(61,26,120,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.About_About .About_1 {
	position: absolute;
	left: 619.83px;
	top: 8.73px;
	width: 107.67px;
	height: 43.650000000000006px;
	color: rgba(61,26,120,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.About_About ._121 {
	position: absolute;
	left: 718.77px;
	top: 87.30000000000001px;
	width: 721.6800000000001px;
	height: 369.57px;
	object-fit: cover;
	overflow: hidden;
}
.About_About .WelcometoParkingridAquickandeasiersolutiontoparkingproblems {
	position: absolute;
	left: 151.32px;
	top: 148.41px;
	width: 471.42px;
	height: 174.60000000000002px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.About_About .ParkingridisasimpleandefficientsolutiontotheprevailingparkingproblemsinmajormetropolitancitiesOurgoalistoreducepeoplestimeandeffortstofindaparkingspotsothattheycanspendmoretimeandenergyontheworktheyhadtodo {
	position: absolute;
	left: 753.69px;
	top: 471.42px;
	width: 669.3000000000001px;
	height: 349.20000000000005px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.About_About ._112 {
	position: absolute;
	left: 0px;
	top: 456.87px;
	width: 718.77px;
	height: 485.97px;
	object-fit: cover;
	overflow: hidden;
}