
.ContactUs_ContactUs {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(55,109,171,1.00);
}
.ContactUs_ContactUs .Rectangle9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 238.62px;
	height: 87.30000000000001px;
	background: rgba(61,26,120,1.00);
}
.ContactUs_ContactUs .Parkingrid {
	position: absolute;
	left: 32.010000000000005px;
	top: 8.73px;
	width: 177.51000000000002px;
	height: 43.650000000000006px;
	color: rgba(243,246,244,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.ContactUs_ContactUs .Rectangle10 {
	position: absolute;
	left: 238.62px;
	top: 0px;
	width: 1201.8300000000002px;
	height: 87.30000000000001px;
	background: rgba(243,246,244,1.00);
}
.ContactUs_ContactUs .Location {
	position: absolute;
	left: 855.5400000000001px;
	top: 8.73px;
	width: 148.41px;
	height: 43.650000000000006px;
	color: rgba(61,26,120,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.ContactUs_ContactUs .Home {
	position: absolute;
	left: 375.39000000000004px;
	top: 8.73px;
	width: 101.85000000000001px;
	height: 43.650000000000006px;
	color: rgba(61,26,120,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.ContactUs_ContactUs .About {
	position: absolute;
	left: 619.83px;
	top: 8.73px;
	width: 107.67px;
	height: 43.650000000000006px;
	color: rgba(61,26,120,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.ContactUs_ContactUs .Rectangle12 {
	position: absolute;
	left: 1149.45px;
	top: 2.91px;
	width: 218.25px;
	height: 52.38px;
	background: rgba(255,200,4,1.00);
}
.ContactUs_ContactUs .icons8address5021 {
	position: absolute;
	left: 87.30000000000001px;
	top: 215.34px;
	width: 96.03px;
	height: 90.21000000000001px;
	object-fit: cover;
	overflow: hidden;
}
.ContactUs_ContactUs .GetinTouch {
	position: absolute;
	left: 582px;
	top: 125.13000000000001px;
	width: 215.34px;
	height: 43.650000000000006px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.ContactUs_ContactUs ._115ENTERPRISECOURTGREENWOODSC29649 {
	position: absolute;
	left: 40.74px;
	top: 363.75px;
	width: 285.18px;
	height: 58.2px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 23.28px;
	font-weight: 400;
	line-height: 28.1740904045105px;
}
.ContactUs_ContactUs .icons8phone501 {
	position: absolute;
	left: 683.85px;
	top: 215.34px;
	width: 90.21000000000001px;
	height: 90.21000000000001px;
	object-fit: cover;
	overflow: hidden;
}
.ContactUs_ContactUs ._5555551234 {
	position: absolute;
	left: 634.38px;
	top: 363.75px;
	width: 180.42000000000002px;
	height: 29.1px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 23.28px;
	font-weight: 400;
	line-height: 28.1740904045105px;
}
.ContactUs_ContactUs .icons8email501 {
	position: absolute;
	left: 1274.5800000000002px;
	top: 215.34px;
	width: 90.21000000000001px;
	height: 90.21000000000001px;
	object-fit: cover;
	overflow: hidden;
}
.ContactUs_ContactUs .moonlapseyahoocom {
	position: absolute;
	left: 1146.54px;
	top: 372.48px;
	width: 264.81px;
	height: 29.1px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 23.28px;
	font-weight: 400;
	line-height: 28.1740904045105px;
}
.ContactUs_ContactUs .Rectangle15 {
	position: absolute;
	left: 0px;
	top: 436.5px;
	width: 1440.45px;
	height: 506.34000000000003px;
	background: rgba(61,26,120,1.00);
}
.ContactUs_ContactUs .MessageUs {
	position: absolute;
	left: 32.010000000000005px;
	top: 506.34000000000003px;
	width: 279.36px;
	height: 55.290000000000006px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 46.56px;
	font-weight: 700;
	line-height: 56.348180809021px;
}
.ContactUs_ContactUs .Rectangle16 {
	position: absolute;
	left: 733.32px;
	top: 602.37px;
	width: 215.34px;
	height: 23.28px;
	background: rgba(245,245,245,1.00);
}
.ContactUs_ContactUs .Rectangle17 {
	position: absolute;
	left: 1038.8700000000001px;
	top: 602.37px;
	width: 215.34px;
	height: 23.28px;
	background: rgba(243,246,244,1.00);
}
.ContactUs_ContactUs .FirstName {
	position: absolute;
	left: 727.5px;
	top: 567.45px;
	width: 90.21000000000001px;
	height: 26.19px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 17.46px;
	font-weight: 400;
	line-height: 21.130567803382874px;
}
.ContactUs_ContactUs .LastName {
	position: absolute;
	left: 1038.8700000000001px;
	top: 567.45px;
	width: 90.21000000000001px;
	height: 20.37px;
	color: rgba(243,246,244,1.00);
	font-family: Inter;
	font-size: 17.46px;
	font-weight: 400;
	line-height: 21.130567803382874px;
}
.ContactUs_ContactUs .Name {
	position: absolute;
	left: 727.5px;
	top: 517.98px;
	width: 98.94px;
	height: 43.650000000000006px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.ContactUs_ContactUs .Email {
	position: absolute;
	left: 724.59px;
	top: 646.02px;
	width: 93.12px;
	height: 43.650000000000006px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.ContactUs_ContactUs .Rectangle18 {
	position: absolute;
	left: 733.32px;
	top: 695.49px;
	width: 215.34px;
	height: 23.28px;
	background: rgba(243,246,244,1.00);
}
.ContactUs_ContactUs .Comments {
	position: absolute;
	left: 724.59px;
	top: 736.23px;
	width: 189.15px;
	height: 43.650000000000006px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}
.ContactUs_ContactUs .Rectangle19 {
	position: absolute;
	left: 724.59px;
	top: 785.7px;
	width: 320.1px;
	height: 78.57000000000001px;
	background: rgba(243,246,244,1.00);
}
.ContactUs_ContactUs .Ifyouhaveanyotherqueriesyoucanmailtouswithyourqueriesandwewouldrespondtothequeriesasquickaspossible {
	position: absolute;
	left: 32.010000000000005px;
	top: 614.01px;
	width: 549.99px;
	height: 174.60000000000002px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 400;
	line-height: 42.26113560676575px;
}
.ContactUs_ContactUs .Rectangle20 {
	position: absolute;
	left: 814.8000000000001px;
	top: 887.5500000000001px;
	width: 125.13000000000001px;
	height: 46.56px;
	background: rgba(55,109,171,1.00);
}
.ContactUs_ContactUs .Submit {
	position: absolute;
	left: 820.62px;
	top: 890.46px;
	width: 116.4px;
	height: 43.650000000000006px;
	color: rgba(243,246,244,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 400;
	line-height: 42.26113560676575px;
}
.ContactUs_ContactUs .ContactUs_1 {
	position: absolute;
	left: 1161.0900000000001px;
	top: 8.73px;
	width: 192.06px;
	height: 43.650000000000006px;
	color: rgba(61,26,120,1.00);
	font-family: Inter;
	font-size: 34.92px;
	font-weight: 700;
	line-height: 42.26113560676575px;
}